{% extends "base.html" %}

{% block title %}Teacher{% endblock %}


{% block page_content %}
<div class="container">
    <div class="pager-content">
        <h2>The Teacher...</h2>
        <p>a place for language students and teachers to work together using customized learning paths, quizzes, 
            stories and videos specifically tailored to the needs of the student and their learning style. Areas of difficulty 
        or confusion can be addressed on a per student basis by easily adding new content to the student plan.</p>
    </div>
</div>
{% endblock %}
